.card-image-row{
	margin-bottom: 15px;
}

.image-caption{
	text-align: center;
	font-size: 10px;
	width: 100%;
}

.md-enlightened-theme{
	h2{
		color: #4CAF50;
	}
}

.md-default-theme{
	h2{
		color: #009688;
	}
}

.md-resistance-theme{
	h2{
		color: #2196F3;
	}
}