.fade {
   opacity: 0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.removefade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.header{
	height: 200px;
	background: #222;
}

.md-toolbar-tools-bottom {
	span{
		color: #FFF;
	}
}

.page-wrapper{
	min-height: 100%;
	margin-bottom: -200px;
}

.page-wrapper:after{
	content:"";
	display: block;
	height: 200px;
}

.header-logo{
	height: 200px;
	background-image: url("../images/fs-skyline.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	position: relative;
	
	.header-navigation{
		position: fixed;
		top: 100px;
		left: 35px;
		z-index: 3;

		md-fab-speed-dial{
			float: right;

			md-fab-actions{
				position: relative;
				left: 20px;
			}
		}
		.nav-menu-button{
			padding: 4px 0 0 2px;
			.nav-menu-icon{
				font-size: 22px;
			}
		}
		.fab-element{
		  z-index: 99999;
		  border-radius: 25px;
		  padding: 10px;
		  background: #F8F8F8;
		  cursor: pointer;
		  margin-bottom: 5px;

		  span{
		  	font-size: 16px;
		  }
		}
	}

	.app-title-wrapper{
		bottom: 0;
		position: absolute;
		height: 150px;
		background-image: url("../images/fs-enl-res-logo.png");
		background-position: left;
		background-repeat: no-repeat;

		.app-title{
			margin-top: 50px;
			font-family: Coda;
			color: #FFF;
			font-size: 50px;
		}

		.main-nav{
			bottom: 0;
			left: 40px;
			position: absolute;
		}
	}

	.theme-switcher{
		bottom: 5px;
		position: absolute;
		right: 15px;
		width: 100px;

		.theme-switcher-title{
			margin-right: 8px;
			color: #FFF;
			float: right;
			font-size: 16px;
		}

		.md-button.active.md-enlightened-theme{
			box-shadow: 0px 0px 5px 2px #4CAF50;
		}

		.md-button.active.md-default-theme{
			box-shadow: 0px 0px 5px 2px #009688;
		}

		.md-button.active.md-resistance-theme{
			box-shadow: 0px 0px 5px 2px #2196F3;
		}

		.md-button{
			float: right;
			width: 120px;
		}

		.md-button.left {
		    border-radius: 10px 0 0 10px;
		    margin-right: 0;
		}
		.md-button.middle {
		    border-radius: 0;
		    margin-left: -3px;
		    margin-right: -3px;
		    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

		}
		.md-button.right {
			margin-left: 0;
		    border-radius: 0 10px 10px 0;
		}
	}
}

@media (max-width: 950px){
	.main-nav{
		button{
			min-width: 12%;
			span{
				font-size: 12px!important;
			}
		}
	}
	.app-title-wrapper{
		padding-left: 0!important;
		.app-title{
			margin-top: 90px!important;
			padding: 0!important;
			text-align: center;
			font-size: 24px!important;
		}
		
	}

	.theme-switcher{
		margin-right: -10px;
		.md-button{
			max-width: 60px;
			min-width: 50px;
			padding: 0px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}

md-card{
	margin-bottom: 25px;
}