@media (min-width: 768px) {
  /* line 10, ../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 100vw!important;
  }
}
@media (min-width: 992px) {
  /* line 10, ../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 50vw!important;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 50vw!important;
  }
}