<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ingress070App" ng-controller="MainCtrl" style="font-family: Coda;">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="header-logo col-xs-12">
        <div class="header-navigation col-xs-3 visible-xs">
          <md-fab-speed-dial md-open="openFAB" md-direction="down" class="md-scale">
            <md-fab-trigger>
              <md-button aria-label="menu" md-theme="{{theme}}" md-theme-watch class="md-fab md-primary nav-menu-button md-raised">
                <span class="glyphicon glyphicon-th nav-menu-icon"></span>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>
              <md-button aria-label="FS070" ng-click="navigateTo('/')" class="md-raised">
                <span>Home</span>
              </md-button>
              <md-button aria-label="FS070" ng-click="navigateTo('/fs070')" class="md-raised">
                <span>FS070</span>
              </md-button>
              <md-button aria-label="Missions" ng-click="navigateTo('/missions')" class="md-raised">
                <span>MISSION070</span>
              </md-button>
              <md-button aria-label="Swag" ng-click="navigateTo('/swag')" class="md-raised">
                <span>Swag</span>
              </md-button>
            </md-fab-actions>
          </md-fab-speed-dial>
        </div>
        <div class="app-title-wrapper col-xs-6 col-xs-offset-3">
          <div class="app-title">
            <div class="hidden-xs large">INGRESS070</div>
            <div class="visible-xs small">INGRESS070</div>
          </div>
          <div class="main-nav hidden-xs">
              <md-button md-theme="{{theme}}" ng-click="navigateTo('/')" md-theme-watch class="md-primary">
                <span>Home</span>
              </md-button>
              <md-button md-theme="{{theme}}" ng-click="navigateTo('/fs070')" md-theme-watch class="md-primary">
                <span>FS070</span>
              </md-button>
              <md-button md-theme="{{theme}}" ng-click="navigateTo('/missions')" md-theme-watch class="md-primary">
                <span>MISSIONS070</span>
              </md-button>
              <md-button md-theme="{{theme}}" ng-click="navigateTo('/swag')" md-theme-watch class="md-primary">
                <span>Swag</span>
              </md-button>
          </div>
        </div>
        <div class="theme-switcher">
          <md-button md-theme="enlightened" class="md-primary md-raised" ng-class="{'active': theme == 'enlightened'}" ng-click="alterTheme('enlightened')">
            <span class="hidden-sm hidden-xs">Enlightened</span>
            <span class="visible-sm visible-xs">ENL</span>
          </md-button>
          <md-button md-theme="default" class="md-primary md-raised" ng-class="{'active': theme == 'default'}" ng-click="alterTheme('default')">
            <span>XFAC</span>
          </md-button>
          <md-button md-theme="resistance" class="md-primary md-raised" ng-class="{'active': theme == 'resistance'}" ng-click="alterTheme('resistance')">
            <span class="hidden-sm hidden-xs">Resistance</span>
            <span class="visible-sm visible-xs">RES</span>
          </md-button>
        </div>
      </div>
    </div>

    <div class="container">
      <div ng-view=""></div>
    </div>

    <div class="footer" id="footer">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="col-sm-4 col-xs-4 footer-block">
          <div class="footer-content">
            <h3>Information</h3>
            <div class="footer-row">
              <div class="{{theme}}" for="email">E-mail:</div>
              <span>firstsaturday070@gmail.com</span>
            </div>
            <div class="footer-row">
              <div class="{{theme}}" for="paypal">Paypal:</div>
              <form class="donate-button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="96QGYJ5HBMR2G">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4 footer-block">
          <div class="footer-content">
            <h3>Pages</h3>
            <ul class="{{theme}}">
              <li class="clickable" ng-click="navigateTo('/')">HOME</li>
              <li class="clickable" ng-click="navigateTo('/fs070')">FS070</li>
              <li class="clickable" ng-click="navigateTo('/missions')">MISSIONS070</li>
              <li class="clickable" ng-click="navigateTo('/swag')">SWAG</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4 footer-block">
          <div class="footer-content"></div>
        </div>
      </div>
      <img ng-click="banana()" class="banana" src="../images/banana.png">
    </div>

    <div id="shopping-cart">
      <div class="shopping-cart-header">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span>Shopping cart</span>
      </div>
      <div class="shopping-cart-body">
        
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/fs070.js"></script>
        <script src="scripts/controllers/missions.js"></script>
        <script src="scripts/controllers/swag.js"></script>
        <!-- endbuild -->
</body>
</html>
