<div id="shopping-cart" class="shopping-cart hidden-sm hidden-xs">
  <div class="shopping-cart-header">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <md-button md-theme="{{theme}}" md-theme-watch class="md-primary" ng-click="navigateTo('/cart')" md-theme-watch>Shopping cart</md-button>
  </div>
  <div class="shopping-cart-body">
    <md-list md-theme="{{theme}}" md-theme-watch>
      <md-list-item class="md-2-line" ng-repeat="(key, item) in cart">
        <img src="../images/patches.jpg" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <p>{{item.amount}}pc € {{item.amount * (item.price/100)}}</p>
        </div>
        <span class="glyphicon glyphicon-remove remove-cart-item clickable" ng-click="removeFromCart(key)"></span>
      </md-list-item>
      <md-divider ></md-divider>
      <md-subheader class="md-no-sticky" md-theme="{{theme}}" md-theme-watch>
        <span>Total: </span>
        <span class="pull-right">€ {{(totalPrice()/100)}}</span>
      </md-subheader>
    </md-list>
  </div>
</div>