<md-card>
  <img src="../images/20141101_143756.jpg" class="md-card-image" alt="First Saturday banner">
  <md-card-content>
    <h2 class="md-title">FS070</h2>
    <p>
    	Is a monthly recurring event, taking place in The Hague and surrounding areas.<br>
      Part social, part competitive, Ingress: First Saturday is an Agent-organized meetup that happens on the first Saturday of the month.
      On this day, anywhere from 20 to 70 agents gather up at a local cafe to enjoy a coffee, some food, friendly banter and an all out hardcore
      battle around the city.<br><br>
      The regular program looks like such:<br>
      <strong>10:00</strong> - Gather at the starting point<br>
      <strong>11:45</strong> - Final AP registration<br>
      <strong>12:00</strong> - Agents are dispersed for battle<br>
      <strong>13:00</strong> - Dead-drop location hints announced<br>
      <strong>14:00</strong> - All agents have returned<br>
      <strong>14:30</strong> - Winner announcement<br>
      <strong>>14:30</strong> - Agents are expected to rehydrate at this point<br>
    </p>
  </md-card-content>
  <div class="col-xs-12 card-image-row">
    <div class="col-xs-4">
      <img src="../images/2014-12-06.jpg" />
      <div class="image-caption">FS070 is visited by many agents each month</div>
    </div>
    <div class="col-xs-4">
      <img src="../images/20150502_133415.jpg" />
      <div class="image-caption">Previous faction leaders @KiraKage (l) and @DaftFox (r)</div>
    </div>
    <div class="col-xs-4">
      <img src="../images/IMG_20150606_185955.jpg" />
      <div class="image-caption">Current faction leaders @Brilsmurf (l) and @Eagletitan (r)</div>
    </div>
  </div>
</md-card>

<md-card>
  <img src="../images/20150307_151351.jpg" class="md-card-image" alt="FS070 patches">
  <md-card-content>
    <h2 class="md-title">Fun & competitive</h2>
    <p>
      Enjoy a cup of steaming coffee or a tall glass of frothy beer with an agent from the opposite faction.<br>
      Exchange some friendly banter and stories during the two hours before the main event. Become archenemies once more when the clock strikes noon.<br>
      The afterparty gives every agent the opportunity to speak to those he did not have the chance before, acquire some swag from the store
      or just hang around and enjoy the atmosphere.
    </p>
  </md-card-content>
  <div class="col-xs-12 card-image-row">
    <div class="col-xs-5">
      <img src="../images/20141206_172742.jpg" />
      <div class="image-caption">The afterparty can last until deep in the night if you're lucky</div>
    </div>
    <div class="col-xs-4">
      <img src="../images/2015-06-07.jpg" />
      <div class="image-caption">The tension between the faction leaders can clearly be felt</div>
    </div>
  </div>
</md-card>

<md-card>
  <img src="../images/IMG_20150307_172817.jpg" class="md-card-image" alt="FS070 patches">
  <md-card-content>
    <h2 class="md-title">Prizes</h2>
    <p>
      Every battle is finished with the sharing of loot and it's no different here.
      The winning faction claims ownership of the FS070 cup and is allowed to retain it for a month.<br>
      The cup is usually awarded to the highest ranking local agent in the winning faction.<br>
      We also hand out unique prizes to individual agents that occupy the 1st and 2nd place on the total AP score.
      These agents are awarded respectively the golden or silver FS patch. These were uniquely made for FS070 and are hard to come by,
      unless you want to try out your luck and win one yourself.
    </p>
  </md-card-content>
</md-card>

<md-card>
  <img src="../images/IMG_20150207_153226.jpg" class="md-card-image" alt="FS070 dead-drop">
  <md-card-content>
    <h2 class="md-title">Dead-drops</h2>
    <p>
      Keep a close eye on the event page on G+ for the course of the event! Dead-drop location hints are known to get posted here.<br>
      In the past, those hints have ranged from pictures of the location itself to utterly complicated puzzles, but they all seem to lead to a secret stash of loot.
    </p>
  </md-card-content>
  <div class="col-xs-12 card-image-row">
    <div class="col-xs-6 col-xs-offset-3">
      <img src="../images/download_20141206_003808.jpeg" />
      <div class="image-caption">Example of a previous dead-drop hint</div>
    </div>
  </div>
</md-card>

<md-card>
  <img src="../images/download_20150605_224142.jpeg" class="md-card-image" alt="FS070 dead-drop">
  <md-card-content>
    <h2 class="md-title">Facilities</h2>
    <p>
      We offer a few services every agent can make use of.<br>
      If you are interested in the swag we offer for sale, you can have it either shipped or personally handed over at the event.<br>
      If your scanner device is running low on energy you can use our recharge station free of charge.<br><br>
      Be sure to contact us if any questions remain unanswered!
    </p>
  </md-card-content>
</md-card>