<md-content>
  <md-card>
    <img src="../images/20150620_125707.jpg" class="md-card-image" alt="Washed Out">
    <md-card-content>
      <h2 class="md-title">Missions</h2>
      <p>
      	Bla
      </p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button md-theme="enlightened" class="md-primary">
      	<a href="http://join-e.nl" target="_blank">Enlightened</a>
      </md-button>
      <md-button md-theme="resistance" class="md-primary">
      	<a href="http://theresistance.nl/" target="_blank">Resistance</a>
      </md-button>
    </div>
  </md-card>
</md-content>